{% extends 'newsblog/base.html' %}

{% block content %}

<div class="container">
{% if post_pairs %}
    {% for post_pair in post_pairs %}
<div class="row mb-2">
    {%for post in post_pair%}
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{post.title}}</h3>
          <div class="mb-1 text-muted">{{ post.pub_date }}</div>
          <p class="card-text mb-auto">{{post.short_text}}</p>
          <a href="posts/{{post.id}}" class="stretched-link">Continue reading</a>
        </div>
          {% if post.image %}
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
          {% endif %}
      </div>
    </div>
    {%endfor%}
  </div>
    {%endfor%}

    {% else %}
        <p>No posts are available.</p>
    {% endif %}
</div>

{% endblock %}